<!DOCTYPE html>
<html>
  <head>
    

    <title><%= title %></title>
  
  </head>
  <body>
      <%- include('./partials/header') %>

<!-- new html below -->

<a href="/new">new Brew</a>

<% brews.forEach(function(b) { %>

    <p>Name: <%= b.name %></p>
    <p>Brewery: <%= b.brewery %></p>
    <p>Ratings: <%= parseInt(b.ratings / b.ratings.lengths) %></p>

    <a href="/<%=b._id%>">details</a>

  <% }); %>
  
<p> TEST</p>



  </body>
</html>
