<!DOCTYPE html>
<html>
  <head>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    

    <title><%= title %></title>
  
  </head>
  <body>
      <%- include('./partials/header') %>



<a  href="/new" class="waves-effect waves-light btn">new Brew</a>

<% brews.forEach(function(b) { %>

    <p>Name: <%= b.name %></p>
    <p>Brewery: <%= b.brewery %></p>
    
    <a class="waves-effect waves-light btn orange darken-4" href="/<%=b._id%>">details</a>
    
    <form action="/<%= b._id %>/edit" >
      <button type="submit" class="waves-effect waves-light btn">edit</button>
    </form>
    <form action="/<%= b._id %>?_method=DELETE" method="POST" >


      <button type="submit" class="waves-effect waves-light btn">X</button>
        
        
    </form>





  <% }); %>
  
<p></p>



  </body>
</html>
