<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <%- include('./partials/header') %>

    <h1><%= name %></h1>
    <p>Brewery: <%= brewery%></p>
    <p>in Production: <%= inProduction %></p>
    <div > <% ratings.forEach(function(r) { %>
        <p> review -  </p>
        <p><%= r.user %></p>
        <p><%= r.review %></p>
        <p><%= r.rating %></p>
        <% }); %>
    
    </div>
 
    
</body>
</html>