<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <%- include('./partials/header') %>
    <h1><%= brew.name %></h1>
    <h3>Brewery: <%= brew.brewery%></h3>
    <h3>Type: <%= brew.type%></h3>
    <h3>in Production: <%= brew.inProduction %></h3>
    <% var totalArray = []; %>
    <% if (brew.ratings.length > 0){brew.ratings.forEach(function(t) { %>
        <% totalArray.push(t.rating); %>
        <% console.log(totalArray); %>
        <% }); %>
        
        <% avg = totalArray.reduce((a,b) => a + b)/totalArray.length; %>
        <h3>Average Rating : <%= parseInt(avg) %></h3>
        <% } %> 
        
        <% if (user){ %> 
        <a class="waves-effect waves-light btn"id="addreview" href="/<%= brew._id %>/newreview">write a review</a>
        <% }; %>
        
        
        <div id="reviewsDivs" > <% brew.ratings.forEach(function(r) { %>
            
            <p class="review">User: <%= r.user %></p>
            <p class="review">Review: <%= r.review %></p>
            <p class="review">Rating: <%= r.rating %></p>
            <% if(user && user.name === r.user){ %>
                <form action="<%= brew._id %>/<%= r._id %>/delete" method="post">
                <button type="submit" class="btn red darken-4 secondary-content">X</button>
            </form>
                <% }; %>
    
        
        <br></br>

        
        
        <% }); %>
    </div>

    
</body>
</html>